# Enter all requirements of the robot here.
# These will be pip-installed in a virtual environment before running the robot.

# Framework requirements
OpenOrchestrator
Pillow

# project requirements
ITK-dev-shared-components >= 1.0.0
openpyxl <= 3.1.2
PyPika <= 0.48.9
pyodbc <= 4.0.39
